@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
body {
  background-color: rgb(120, 136, 148);
  color: white;
  font-family: "Courier New", Courier, monospace;
}
